
<div id="myCarousel" style="margin: 0% 20% 0 20%; padding: 0% 10% 0 10%" class="carousel slide text-center" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div id="loginDiv" *ngIf="!loading">
          <div>
            <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="errors?.length > 0">
                <ul>
                  <li *ngFor="let error of errors">
                    {{ error }}
                  </li>
                </ul>
              </div>
              <div class="alert alert-success" *ngIf="SuccessMessage">
                {{SuccessMessage}}
              </div>
            </div>
            <div class="form-group text-center">
              <img [src]="model.profilePicturePath" class="" alt="Profile Picture">
            </div>
            <div class="form-group">
              <label for="txtName">Name</label> : {{ model.FirstName +" "+ model.LastName}}
            </div>
            <div class="form-group">
              <label for="txtTitle">Title</label> : {{model.Title}}
            </div>
            <div class="form-group">
              <label for="txtBio">Bio</label> {{model.Bio}}
            </div>
            <div class="form-group">
              <label for="txtBio">UserUrl</label> {{ model.UserUniqueCode}}
            </div>
            <div class="form-group">
              <label for="txtWebsite">Website</label> : {{model.website}}
            </div>
            <div *ngFor="let linkdetail of model.userSiteLinks; let i=index">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    {{model.userSiteLinks[i].siteUrls}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>

      <div class="item">
        <div class="panel-body">
          <div *ngIf="loading">
            Loading ....
          </div>
          <div id="loginDiv" class="center-block" *ngIf="!loading">
            <div class="row">
              <div *ngIf="this.model.userImages.length && this.model.userImages.length > 0">
                <div *ngFor="let userImage of this.model.userImages; let i=index" class="col-lg-4 col-sm-6 col-xs-12">
                  <a href="#" (click)="aClick()" *ngIf="userImage.InternalImagePath">
                    <img [src]="userImage.InternalImagePath" class="thumbnail img-responsive">
                  </a>
                  <a href="#" (click)="aClick()"
                    *ngIf="userImage.InternalImagePath == '' && userImage.ExternalImagePath">
                    <img [src]="userImage.ExternalImagePath" class="thumbnail img-responsive">
                  </a>
                </div>
              </div>
              <div *ngIf="this.model.length == 0">
                No records found......
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="panel-body">
          <div *ngIf="loading">
            Loading ....
          </div>
          <div id="loginDiv" class="center-block" *ngIf="!loading">
            <div *ngIf="this.model.userVedio.length && this.model.userVedio.length > 0">
              <div class="row" *ngFor="let addVideo of this.model.userVedio; let i=index">
                <div class="col-md-12 col-sm-12 col-xl-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="addVideo.SanitizedVideoUrl"
                      *ngIf="addVideo.SanitizedVideoUrl">
                    </iframe>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xl-12">&nbsp;&nbsp;&nbsp;</div>
              </div>
            </div>
            <div *ngIf="this.model.length == 0">
              No records found......
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">View Profile</h3>
  </div>
  <div class="panel-body">
    <div *ngIf="loading">
      Loading ....
    </div>
    <div id="loginDiv" style="width:50%" *ngIf="!loading">
      <div style="width:50%">
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="errors?.length > 0">
            <ul>
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
            </ul>
          </div>
          <div class="alert alert-success" *ngIf="SuccessMessage">
            {{SuccessMessage}}
          </div>
        </div>
        <div class="form-group text-center">
          <img [src]="model.profilePicturePath" class="" alt="Profile Picture">
        </div>
        <div class="form-group">
          <label for="txtName">Name</label> : {{ model.FirstName +" "+ model.LastName}}
        </div>
        <div class="form-group">
          <label for="txtTitle">Title</label> : {{model.Title}}
        </div>
        <div class="form-group">
          <label for="txtBio">Bio</label> {{model.Bio}}
        </div>
        <div class="form-group">
          <label for="txtWebsite">Website</label> : {{model.website}}
        </div>
        <div *ngFor="let linkdetail of model.userSiteLinks; let i=index">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                  {{model.userSiteLinks[i].siteUrls}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>
</div> -->
